@import url(reset.css);

body {
	background: #fff;
	color: #333;
	font-family: Helvetica;
	font-size: 13px;
	line-height: 1.6em;
}

#container {
	width: 800px;
	margin: 20px auto;
}

#main {
	
}

#posts {
	margin-left: 10px;
	width: 540px;
	float: left;
	padding: 40px 0;
}

#sidebar, #intro {
	margin-right: 10px;
	float: right;
	width: 220px;
}

#sidebar {
	padding-top: 46px;
}

/* @group Header */

#header {
	padding: 0 20px;
}

#intro h1 {
	font-size: 19px;
	line-height: 19px;
	background: #000;
	color: #fff;
	padding: 6px 10px;
	float: left;
	margin-left: -10px;
	margin-bottom: 20px;
	
	position: absolute;
}

/* @end */

#posts {
	/*background: #ccc;*/
}

/* @group Posts */

#posts hr {
	clear: both;
	border: 0;
	height: 30px;
	width: 500px;
}

#posts .post {
	margin-left: -80px;
}

.post .meta {
	float: left;
	width: 64px;
	margin-right: 16px;
	text-align: right;
	background-color: #f2e6b2;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-transition: background-color 0.2s ease-in;
}

.post .meta:hover {
	background-color: #f80;
}

.post .meta .date {
	display: block;
}

.post .meta a {
	text-decoration: none;
	color: #333;
	display: block;
	padding: 5px 10px 5px;
	-webkit-transition: color 0.2s ease-in;
}

.post .meta:hover a {
	color: #fff;
}

#posts .post .content {
	float: left;
	width: 540px;
}

/* # quote */
 
.post.quote .content {
	padding-bottom: 16px;
}
.post.quote blockquote {
	margin: 4px 10px 0 10px;
	font-family: Georgia;
	font-style: italic;
	font-size: 17px;
	line-height: 24px;
	color: #333;
	display: block;
}
 
blockquote .quotes {
	display: inline;
	font-size: 48px;
	vertical-align: bottom;
	line-height: 0px;
	padding: 0 10px;
	margin: 0 0 0 -10px;
	color: #bbb;
	/*text-shadow: #14151c 0 -1px 0;*/
}

.post.quote .source:before {
	content: "\2014";
}

.post.quote .source {
	font: 12px/20px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
	white-space: nowrap;
	/*color: #8a8c93;
	margin-left: -8px;*/
}
 
.post.quote .source .note {
	font-size: 12px;
	margin-bottom: -6px;
}

.post.video .content .video {
	background: #aaa;
	padding: 18px 20px 12px;
	-webkit-border-radius: 18px;
}

/* @end */

