/* @override file:///Users/david/Sites/tumblr/css/screen.css */

@import url(reset.css);

body {
	background-color: #dee4ea;
	color: #333;
	font-family: Helvetica;
	font-size: 13px;
	line-height: 1.6em;
}

a:link {
	color: #2c6db2;
}

#container {
	margin-left: auto;
	margin-bottom: 20px;
	margin-right: auto;
	margin-top: 0px;
	width: 800px;
}

#main {
	
}

#posts {
	margin-left: 10px;
	width: 540px;
	float: left;
	padding: 40px 0;
}

#sidebar, #intro {
	margin-right: 10px;
	float: right;
	width: 220px;
}

#sidebar {
	padding-top: 46px;
}

/* @group Header */

#header {
	height: 50px;
	
	position: relative;
}

#header h1 {
	font-size: 24px;
	font-weight: normal;
	line-height: 19px;
	background: #699e00;
	color: #bbd389;
	padding: 26px 20px 12px;
	margin-bottom: 20px;
	position: absolute;
	width: 520px;
	left: 0px;
	top:0;
	-webkit-border-bottom-left-radius: 10px;
}

#header h1 em {
	font-size: 0.6em;
	position: relative;
	top: -0.1em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#header h1 strong {
	color: white;
	font-weight: 900;
}

/* @end */

#posts {
	/*background: #ccc;*/
}

/* @group Posts */

#posts hr {
	clear: both;
	border: 0;
	height: 30px;
	width: 500px;
}

#posts .post {
	margin-left: -80px;
}

.post .meta {
	color: #6181ff;
	float: left;
	width: 64px;
	margin-right: 16px;
	text-align: center;
	background-color: #d0c9e4;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-transition: background-color 0.2s ease-in;
}

.post .meta:hover {
	background-color: #f80;
}

.post .meta .date {
	display: block;
}

.post .meta a {
	text-decoration: none;
	color: #706889;
	display: block;
	padding: 5px 10px 5px;
	-webkit-transition: color 0.2s ease-in;
}

.post .meta:hover a {
	color: #fff;
}

#posts .post .content {
	float: left;
	width: 540px;
}

/* # quote */
 
.post.quote .content {
	padding-bottom: 16px;
}

.post.quote blockquote {
	margin: 4px 10px 0 10px;
	font-size: 17px;
	line-height: 24px;
	color: #333;
	display: block;
}
 
blockquote .quotes {
	display: inline;
	font-size: 48px;
	vertical-align: bottom;
	line-height: 0px;
	padding: 0 10px;
	margin: 0 0 0 -10px;
	color: #bbb;
	/*text-shadow: #14151c 0 -1px 0;*/
}

.post.quote .source:before {
	content: "\2014";
}

.post.quote .source {
	color: #576e85;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	white-space: nowrap;
}
 
.post.quote .source a {
	color: inherit;
}
 
.post.quote .source .note {
	font-size: 12px;
	margin-bottom: -6px;
}

.post.video .content .video {
	background: #cdd6de;
	padding: 18px 20px 12px;
	-webkit-border-top-right-radius: 18px;
	-webkit-border-bottom-left-radius: 18px;
	-webkit-box-shadow: 1px 1px 1px #fff;
}

/* @end */

.post.link .link {
	overflow: hidden;
}

.post.link .link a {
	background: #000;
	color: #fff;
	font-size: 18px;
	padding: 4px 8px;
	float: left;
	display: block;
	text-decoration: none;
	position: relative;
}

.post.link .content p {
	margin: 1em 0;
}

.post.link .tk-pnova.copy p {
	font-size: 15px;
	line-height: 1.5em;
}

.post.link .link a canvas {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -3px;
}

.post.link .link a.canvased {
	padding-right: 30px;	
}
